/*******************************************************************************
Tema escuro da Fic Calhas por Netyul
by Jefte Amorim da Costa, Arquivo Header
Obs: Este arquivo contem todo o css para o site;
*******************************************************************************/
*{
	padding: 0;
	margin: 0;
}

.h3, h3{
	line-height: normal;
}

@import url('header.less');
@import url('slideshow.less');
@import url('marketing.less');