/*******************************************************************************
Tema escuro da Fic Calhas por Netyul
by Jefte Amorim da Costa, Arquivo Header
Obs: Este arquivo contem todo o css para o site;
*******************************************************************************/

body{
	background-image: url(../images/body-fic.jpg);
	background-repeat: no-repeat;
	background-position: top, center;

}

@import url('header.less');
@import url('slideshow.less');
@import url('marketing.less');