/*******************************************************************************
Tema escuro da Fic Calhas por Netyul
by Jefte Amorim da Costa, Arquivo Header
Obs: Este arquivo contem o css omente para o cabeçalho do site;
*******************************************************************************/
.navbar-brand{padding: 5px; line-height: normal; margin-left: 15px;}
.navbar-brand img{height: 65px; width: 100px;}
body .navbar {height: auto !important; padding: 0; margin: 0;}
.top-bar {min-height: 35px; background-color: #333;}
.navbar-default { border-color: #222222; border: 0px solid transparent;}
.navbar-nav>li>a { padding-top: 20px; padding-bottom: 20px; font-size: 18px; padding-right: 20px; padding-left: 20px;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus { color: #ffffff; background-color: #00E300;}
.top-header{ padding: 5px; color: #fff; border-bottom-color: #000; border-size: 0px; background-color: transparent; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-right-radius: 10px; border-top-left-radius: 10px;}
#header-busca { float: right; margin-left: 15px;}
#header-busca button { border: 0; font-size: 1.2em; background-color: transparent;}
#header-busca button:hover {color: #00E300;}
#busca-hide input {float: left;}
#busca-hide input {border: 0; width: 95%; padding: 0 15px; background-color: #F4F6F7; color: #333; font-style: normal; font-weight: 400; font-size: 16px;}
#shide {width: 100%; }
button.remove { float: right; }
button.remove {margin-top: -5px; border:0; padding: 0; background-color: transparent; font-size: 1.5em; color: #fff; cursor: pointer;}
button.remove:hover{color: #00E300;}
#header-content {margin-top: 101px; overflow: hidden; padding: 0px; background-color: #F4F6F7;}
#panel {padding: 5px;display: none;}
header{position: none; top: 0; right: 0; left: 0; z-index: 20; border-bottom: 1px solid #00E300;}
#header-content #ad {width: 100%;}
.navbar-toggle{margin-top: 35px;}
@media only screen and (min-width: 481px){}
@media only screen and (min-width: 768px){
.navbar-nav>li>a {padding-top: 22px; padding-bottom: 22px; font-size: 18px; padding-right: 20px; padding-left: 20px;}
header{position: none; margin-top: 0px;	}
.navbar{border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;}
.navbar-right {float: right !important; margin-right: 0px; margin-top: 0px;}}